.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--color-5);
  transform-origin: 0%;
  z-index: 1000;
}

.parallax {
  width: 100%;
}

.parallax > img {
  object-fit: cover;
  height: 100% !important;
}
